page-singlepost {
  .text {
    text-align: justify;

  }

  .btn {
    border-radius: 8px;
    /* Remove borders */
    color: white;
    /* Add a text color */
    padding: 14px 28px;
    /* Add some padding */
    cursor: pointer;
    /* Add a pointer cursor on mouse-over */
  }

  #table {
    margin: 0 auto;
    text-align: center;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
